body {
  font-family: "Manrope", sans-serif;
  margin: 0%;
}
p {
  text-align: justify;
}
.green {
  color: rgb(114, 245, 39);
}
.flex-container {
  display: flex;
  margin-bottom: 30px;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  width: 60%;
}
.link-btn {
  text-decoration: none;
  background-color: orange;
  padding: 10px 10px;
  border-radius: 5px;
  background-image: linear-gradient(orange, tomato);
  font-weight: 700;
}
.top-banner {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.btm-img {
  margin-left: 30%;
}
.exp-item {
  box-shadow: 10px 10px 10px 15px yellowgreen;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 10px;
}
#color-border-ylw {
  border-left: 10px solid;
  border-image: linear-gradient(red, orange);
  border-image-slice: 1;
}
#color-border-red {
  border-left: 10px solid;
  border-image: linear-gradient(green, blue);
  border-image-slice: 1;
}
.exp-area {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#fot-style {
  text-align: center;
  color: darkred;
  text-shadow: deeppink;
}
